.jumbotron{
   background-image: url("./images/beibehang-Custom-wallpaper-3D-mural-personality-pizza-cake-shop-blackboard-newspaper-background-wall-decoration-Papel-de.webp");
   height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    
}
.menu1{
  display: flex;
  background-color: black;
}
.menu2{
  display: flex;
  background-color: black;
}
.card{
  margin-left: 8rem;
  margin-top: 3rem;
  
  
}
.card-img{
  height: 10rem;
}
#food{
  font-style: bold;
  text-align: center;
  margin-top: 4rem;
  padding-top: 2rem;
  color: white;
  width: 100%;
  font-size: 5rem;
  background-color: black;
}
h1{
    margin-left: 5rem;
    font-style: bold;
    text-align: center;
    font-size:xx-large ;
    color: blanchedalmond;
    margin-top: 15rem;
}
h2{
    margin-left: 5rem;
    font-style: bold;
    text-align: center;
    color: blanchedalmond;
}
h3{
  margin-left: 5rem;
  font-style: bold;
  text-align: center;
  color: black;
  font-style: bold;
}
li{
  text-align: left;
}
#navbarSupportedContent{
    float: right;
}
.about{
    background-image: url("./images/45364856-tasty-pizza-on-a-black-background-with-spices-and-herbs.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 8rem;
    width: 100%;
    height: 800px;
    font-style: bold;
    position: relative;
}
.about-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px brown;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 8rem;
  padding-bottom: 20px;
  padding-left: 6%;
  padding-right: 6%;
  width: 75rem;
  height:500px ;
  color: white;
  text-align: center;
  position: fixed;
}
#text1{
    text-decoration-line: underline;
    text-decoration-color: turquoise;
}
.aboutcontent{
    width: 300px;
    text-align: center;
}
.carouselslide{
    margin-top: 60rem;
}
.order{
    display: flex;
    text-align: center;
    position: scroll;
    background-color: black;
    width: 100%;
    height: 100%;
}
.contact{
    background-image: url("./images/pexels-burst-374720.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 500px;

}
 #formcontact{
  margin-top: 5rem;
}
.callno{
  margin-top: 8rem;
  margin-left: 10rem;
}
#message{
  text-align: center;
}
.footer{
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 2rem;
  margin-top: 3rem;
  height: 10rem;
}
.order h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
  .order {
    background-attachment: scroll;
    background-image: url("./images/f8tRhe2XSlutilxCgkeM_easy\ peezy\ pizza\ dough\ SITE-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 9%;
    padding-bottom: 6%;
  }
  .order-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 20px;
    padding-left: 6%;
  }
  .choice {
    display: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  .deliver {
    display: none;
  }
  .delivery {
    display: none;
    padding-left: 10%;
    padding-right: 10%;
  }
  td,
  th {
    font-size: 20px;
    color: white;
  }
  .choice h2 {
    color: #dbc1ac;
    text-align: left;
  }
  #your-orders {
    color: #dbc1ac;
    font-size: 30px;
  }
  #contact h2 {
    text-align: center;
  }
  #contact {
    color: black;
  }
  #contactdetails h2 {
    text-align: left;
  }
  #addedprice {
    display: none;
  }
  #finallmessage {
    display: none;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 28px;
  }
  #regards {
    text-align: center;
    color: whitesmoke;
  }
  #information {
    padding-top: 5%;
    font-size: 22px;
    padding-right: 8%;
    padding-left: 5%;
    color: #dbc1ac;
  }
  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
  }
  .form-info {
    font-size: 16px;
    font-style: italic;
    color: white;
    letter-spacing: 2px;
  }
  input {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: white;
    border: none;
    outline: none;
  }
  input::placeholder {
    color: white;
  }
  textarea {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: white;
    border: none;
    outline: none;
  }
  textarea::placeholder {
    color: white;
  }
  .submit {
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 3%;
    border: 2px solid rgb(190, 190, 190) ;
    color:rgb(190, 190, 190) ;
    font-size: 1.2em;
  }
  .submit:hover {
    border: 1px solid #fff;
    color: turquoise;
    cursor: pointer;
  }
  .btn {
    color: red;
    font-weight: bold;
    border: 2px solid #634832;
    font-size: 25px;
  }
  .hvr-right:hover,
.hvr-right:focus,
.hvr-right:active {
  color: #000;
}
  
