.jumbotron1{
    background-image: url("./images/beibehang-Custom-wallpaper-3D-mural-personality-pizza-cake-shop-blackboard-newspaper-background-wall-decoration-Papel-de.webp");
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar{
    position: fixed;
    width: 100%;
}
/* #welcome{
    text-align: center;
    margin-top: 15rem;
    margin-left: 35rem;
    text-decoration-line: underline;
    color: blanchedalmond;
    font-size:xx-large ;
    width: 500px;

} */
h1{
    margin-left: 5rem;
    font-style: bold;
    text-align: center;
    font-size:xx-large ;
    color: blanchedalmond;
    margin-top: 15rem;
}
h2{
    margin-left: 5rem;
    font-style: bold;
    text-align: center;
    color: blanchedalmond;
}
#navbarSupportedContent{
    justify-content: left;
}
.about{
    margin-top: none;
    text-align: center;
    background-color: black; 
    width: 100%;
}
.aboutcontent{
    margin-top: 5rem;
    width: 300px;
    float: left;
    
}
.carouselslide{
    margin-top: 60rem;
}
